:root {
  --main-font: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* == HEADER ==  */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo-text-header {
  color: black;
}

.nav-list .link.current {
  color: #2196f3;
}

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.header-mail-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: #2196f3;
}

.header-phone-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.header-phone-link:hover,
.header-phone-link:focus {
  color: #2196f3;
}

/* == END HEADER == */

/* == HERO == */

.hero {
  /* position: absolute; */
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}

.modal-button-text {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  color: #ffffff;
}

/* == END HERO == */

/* == FEATURES == */

.features-list {
  display: flex;
}

.features-item-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-item-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;
}

.features-item1 {
  /* position: absolute; */
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.features-item2 {
  /* position: absolute; */
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}

.features-item3 {
  /* position: absolute; */
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}

.features-item4 {
  /* position: absolute; */
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
}

/* == END FEATURES == */

/* == WHAT WE ARE DOING == */

.we-doing {
  /* position: absolute; */
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.we-doing-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.we-doing-list {
  display: flex;
}

.we-doing-img1 {
  /* position: absolute; */
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.we-doing-img2 {
  /* position: absolute; */
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}

.we-doing-img3 {
  /* position: absolute; */
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}

/* == END WHAT WE ARE DOING == */

/* == TEAM == */

.team {
  /* position: absolute; */
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.team-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list {
  /* position: absolute; */
  width: 1170px;
  height: 368px;
  left: 215px;
  top: 1635px;
  display: flex;
}

.team-img1 {
  /* position: absolute; */
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  border-radius: 0px;
}

.team-img2 {
  /* position: absolute; */
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;

  border-radius: 0px;
}

.team-img3 {
  /* position: absolute; */
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;

  border-radius: 0px;
}

.team-img4 {
  /* position: absolute; */
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;

  border-radius: 0px;
}

.team-item-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-item-position {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.team-item1 {
  /* position: absolute; */
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item2 {
  /* position: absolute; */
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item3 {
  /* position: absolute; */
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item4 {
  /* position: absolute; */
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* == END TEAM == */

/* == PORTFOLIO == */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

/* == PORTFOLIO MENU == */
.portfolio-button1 {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-button1:hover,
.portfolio-button1:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-button2 {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-button2:hover,
.portfolio-button2:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-button3 {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-button3:hover,
.portfolio-button3:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-button4 {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-button4:hover,
.portfolio-button4:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-button5 {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.portfolio-button5:hover,
.portfolio-button5:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* == PORTFOLIO EXAMPLES== */

.examples-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.examples-discription {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}

.examples-item1 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item2 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item3 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 262px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item4 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item5 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item6 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 696px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item7 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item8 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.examples-item9 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1130px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

/* == END PORTFOLIO == */

/* == FOOTER == */

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

.logo-text-footer {
  color: #ffffff;
}

.address-info {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-mail-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-mail-link:hover,
.footer-mail-link:focus {
  color: #2196f3;
}

.footer-phone-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #2196f3;
}

/* == END FOOTER == */
